img.card-img-top {
    width: 250px;
    height: 300px;
}

.carousel.slide {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #e4e4e4;
}

.w-100 {
    width: 400px !important;
    padding-left: 10rem;
}

.carousel-caption {
    position: absolute;
    padding-top: 1.25rem;
    padding-bottom: 10.25rem;
    color: black;
    text-align: right;
}
.card {
    height: 100%;
}

p {
    font-size: 16px;
}
